<% unless user_signed_in? %>
<%= render 'sitio/index' %>
<% end %>
<h1>Recursos Disponibles</h1>


<div id="pins">
  <%= render @pins %>
</div>


<br/>

<p>
	<%= will_paginate @posts, previous_label: t("Anterior"), next_label: t('Siguiente') %>
</p>