
<div class="jumbotron">
	<h2>Administración de imágenes</h2>
	<p>Aplicación de administración de imágenes para usuarios utilizando <%= link_to 'Ruby On Rails', 'http://rubyonrails.org/' %></p>
	<p>Para proceder por favor registrese o inicie sesión.</p>
	<p><%= link_to 'Registrarse', new_user_registration_path, :class=>"btn btn-primary btn-lg"  %></a></p>
</div>

