<div class="jumbotron">
	<h1>Página de prueba</h1>
	<p>Página web creada utilizando el Framework <%= link_to 'Ruby On Rails', 'http://rubyonrails.org/' %></p>
	<p><%= link_to 'Registrarse', new_user_registration_path, :class=>"btn btn-primary btn-lg"  %></a></p>	
</div>