<div class="jumbotron">
	<% #Si el usuario no est치 autenticado mostrar 'Iniciar Sesi칩n', en caso contrario 'Bienvenida' %>
    <% if user_signed_in? %>
    	<h1>Bienvenido</h1>
        <p>Bienvenido al sistema creado con Ruby on Rails</p>
    <% else %>
		<h1>P치gina de prueba</h1>
		<p>P치gina web creada utilizando el Framework <%= link_to 'Ruby On Rails', 'http://rubyonrails.org/' %></p>
		<p><%= link_to 'Registrarse', new_user_registration_path, :class=>"btn btn-primary btn-lg"  %></a></p>
	<% end %>
</div>