/*
@import url(https://fonts.googleapis.com/css?family=Oswald);
$baseFontFamily: Oswald;
*/

@import 'bootstrap';

body{
	font-family: 'Oswald', sans-serif;
	padding-top: 70px;
}

.header{
	margin-bottom: 50px;
}

.footer{
	position: relative;
	bottom: 10px;

	a{
		color: gray;
	}
}

.alert-notice{
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text)
}

.alert-alert{
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text)
}

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11pt;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img{
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.descripcion{
	margin: 10px 0 5px;
}

