@import url(https://fonts.googleapis.com/css?family=Oswald);
$baseFontFamily: Oswald;

@import 'bootstrap';

body{
	font-family: 'Oswald', sans-serif;
	padding-top: 70px;
}

.header{
	margin-bottom: 50px;
}

.footer{

	margin-top: 50px;

	a{
		color: gray;
	}
}

.alert-notice{
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text)
}

.alert-alert{
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text)
}