@import url(https://fonts.googleapis.com/css?family=Oswald);
$baseFontFamily: Oswald;

@import 'bootstrap';





body{
	font-family: 'Oswald', sans-serif;
	padding-top: 70px;
}

.header{
	margin-bottom: 50px;
}

.footer{

	margin-top: 50px;
	color: red;

	a{
		color: gray;
	}
}